body {
    font-family: Consolas, monospace;
}

.code {
    white-space: pre;
    border: 1px solid #000;
    padding: 0;
}

.hidden {
    display: none;
}

#config {
    display: block;
    margin: 3px 0;
    border: 1px solid #000;
    padding: 3px;
    box-sizing: border-box;
    width: 100%;
    height: 14em;
    resize: vertical;
}

#results {
    display: block;
    margin: 3px 0;
    border: 1px solid #000;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    max-height: 24em;
    overflow-x: scroll;
    overflow-y: auto;
}

.results__result {
    list-style-type: none;
    white-space: pre;
    padding-left: 3px;
}
.results__result:hover { font-weight: bold; }
.results__result--applied { border-left: 5px solid #5A5; } .results__result--applied:hover { color: #5A5; }
.results__result--ignored { border-left: 5px solid #AAA; } .results__result--ignored:hover { color: #AAA; }
